body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #8B4513;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}



.login-container h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #8B4513;
    display: block;
    margin: 0 auto;
    
}


.login-container input[type="submit"]:hover {
    background-color: #dcdcdc;
}