

.image-button {
  text-decoration: none;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-align: center;
}

.image-button img {
  width: 280px; /* Fixed image width */
  height: 300px; /* Fixed image height */
  display: block;
  border: 3px solid transparent;
  transition: border-color 0.3s;
}

.image-label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #f0e5e5;
  text-transform: capitalize;
  transition: color 0.3s;
}

.image-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.image-button:hover img {
  border-color: #ff9800;
}

.image-button:hover .image-label {
  color: #ff9800;
}
